*{
    box-sizing: border-box;
}
/* Global Styling */
a{
    text-decoration: none;
    color: white;
}
.btn{
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    border: 1px solid #B4C7D4;
    border-radius: 2px;
    
}
body{
    margin: auto;
}
/* header */
header{
    display:flex;
    align-items: centre;
    justify-content: space-between;
    margin: 0 auto;
    background-color: black;
    color: white;
    margin: 0;
}
header .title{
    padding-left: 100px;
    font-size: x-large;
    width: 50%;
    
}
.title h3{
    font-weight: 100;
}
header .nav{
    display: flex;
    list-style-type: none;
    padding-top: 20px;
    width: 100%;
    align-items: left;
    color: white;
    gap: 100px;
    font-size: large;

}

/* main */
.hero img{
    width: 100%;
    margin-top: 0;
}
.img {
    color: white;
    position: absolute;
    margin-top: 200px;
    top: 300px;  
    width: 100%;
    text-align:  center;
    font-size: 6vw;
    z-index: 1;
    font-weight: 300;
}
.shows{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 50px;
   
}
.card{
    display: flex;
    justify-content: center;
    gap:40px;
    margin-top: 20px;
    padding: 20px;
    border-bottom: 1px dashed lightgray;
    
    
}
.card-btn a{
    color: black;
    width: 600px;
    object-fit: contain;
    padding-left: 20px;
    background-color: rgb(237, 237, 237);
}
.card-btn{
    border-bottom: none;
    
}
.btn-yellow{
    background-color: rgb(230, 183, 12);
    height: fit-content;
    padding: 0 10px;
    margin-top: 40px;
}

/* footer */
footer{
    background-color: black;
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    background-color: black;
    justify-content: center;
    margin-top: 10px;
    width: fit-content;
}
.footer li{
    color: white;
    list-style-type: none;
    padding-bottom: 20px;
}
.footer h3{
    color:white
    
}
.map{
    margin:40px;
}
/* media */
@media(max-width: 1000px){
    header{
        display: none;
    }
    .hero{
        flex-direction: column-reverse;
    }
    .card{
        max-width: 370px;
        margin: auto;
    }
    .footer{
        grid-template-columns: 1fr;
        max-width: 370px;
        margin: 129px auto;
        text-align: center;
        
    }
  
    .card-btn a{
        background-color: white;
        border: none;
        color: green;
        font-weight: 600;
        font-size: large;
        text-align: center;
    }
    .img{
        position:sticky;
       color: black;
       margin-top: 0;
      
    }
}
